stage('{{ step.name }}') {
            steps {
                container('runner') {
                    sh '''
                        {%- for substep in step.substeps %}
                        echo "running {{ substep }}"
                        ./rhtap/{{ substep }}.sh
                        {%- endfor %}
                    '''
                }
            }
        }
