{%- include "do-not-edit.njk" -%}

pipeline {
    agent {
        kubernetes {
            yaml """
              apiVersion: v1
              kind: Pod
              spec:
                containers:
                - name: 'runner'
                  image: '{{ runner_image }}'
                  securityContext:
                    privileged: true
            """
        }
    }
    environment {
        HOME = "${WORKSPACE}"
        DOCKER_CONFIG = "${WORKSPACE}/.docker"
        {%- for secret in gitops_variables -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
        {%- for secret in gitops_secrets -%}
        {%- include "jenkins-secret.njk" -%}
        {%- endfor %}
    }
    stages {
        stage('init') {
            steps {
                container('runner') {
                    sh '''
                        cp -R /work/* .
                        env
                        git config --global --add safe.directory $WORKSPACE
                        echo "running init"
                        ./rhtap/init.sh
                    '''
                }
            }
        }
        {%- for step in gitops_steps %}
        {% include "jenkins-step.njk" %}
        {%- endfor %}
    }
}
