apiVersion: tekton.dev/v1
kind: Task
metadata:
  labels:
    app.kubernetes.io/version: "0.1"
    build.appstudio.redhat.com/build_type: docker
  annotations:
    tekton.dev/pipelines.minVersion: 0.12.1
    tekton.dev/tags: containers, tssc
    build.appstudio.redhat.com/task-name: "show-workload-sbom"
    build.appstudio.redhat.com/build-type: "docker"
    task.results.format: application/text
    task.results.key: LINK_TO_SBOM
    task.output.location: results
  name: show-workload-sbom
spec:
  description: |-
    Show SBOM report for the built image.
  params:
    - description: Reference of the image buildah will produce.
      name: IMAGE
      type: string
    - default: .
      description: Path to the directory to use as context.
      name: CONTEXT
      type: string
    - name: STORAGE_DRIVER
      description: Storage driver to configure for buildah
      type: string
      default: vfs
  stepTemplate:
    workingDir: $(workspaces.source.path)/source
    env:
      - name: CI_TYPE
        value: tekton
      - name: STORAGE_DRIVER
        value: $(params.STORAGE_DRIVER)
      - name: CONTEXT
        value: $(params.CONTEXT)
      - name: IMAGE
        value: $(params.IMAGE)
      - name: IMAGE_URL
        value: $(params.IMAGE)
  results:
    - description: Placeholder result meant to make RHDH identify this task as the producer of the SBOM logs.
      name: LINK_TO_SBOM
  steps:
    - name: show-sbom
      image: quay.io/redhat-appstudio/rhtap-task-runner:latest
      script: |
        echo "running show-sbom-rhdh"
        /workspace/source/tssc/show-sbom-rhdh.sh
      volumeMounts:
        - mountPath: /var/lib/containers
          name: varlibcontainers
        - mountPath: /tmp/files
          name: tmpfiles
      imagePullPolicy: Always
  volumes:
    - emptyDir: {}
      name: varlibcontainers
    - emptyDir: {}
      name: tmpfiles
  workspaces:
    - name: source
      description: Workspace containing the source code to build.
