{%- include "do-not-edit.njk" -%}
{%- set secrets = build_secrets -%}

pr: none

trigger:
  batch: true
  branches:
    include:
      - main

# Using self-hosted 'Default' agent pool by default
# Change accordingly when using a different agent pool
# Can be deleted if self-hosted agents are not being used
# See https://learn.microsoft.com/en-us/azure/devops/pipelines/agents/agents
pool:
  name: Default

# Using 'tssc' variable group by default
# Change accordingly when using a different variable group
# Can be deleted if the variables are set differently
# See https://learn.microsoft.com/en-us/azure/devops/pipelines/process/variables
variables:
  - group: tssc
  - name: CI_TYPE
    value: azure

jobs:
  - job: Build_Workload
    displayName: "TSSC Build and Scan"
    container:
      image: quay.io/redhat-appstudio/rhtap-task-runner:latest
      options: --privileged
    steps:
      - checkout: self
        clean: true
{%- filter indent(6) -%}
{%- for step in build_steps %}
{% include "azure-step.njk" %}
{%- endfor -%}
{%- endfilter %}
  - job: Host_Cleanup
    displayName: "Host OS Maintenance"
    dependsOn: Build_Workload
    condition: always()  # Ensures cleanup runs even if the build fails
    steps:
      - checkout: none  # No need to pull code just to delete it
      - script: |
          echo "Current disk usage before cleanup:"
          df -h

          echo "Performing docker prune (12h buffer)..."
          docker system prune -af --filter "until=12h"

          # Workspace Scrub
          echo "Cleaning work folder: $(Agent.WorkFolder)"
          cd $(Agent.HomeDirectory)
          rm -rf $(Agent.WorkFolder)/* || true

          echo "Final disk state:"
          df -h
        displayName: 'Post-Job Host Scrub'
